/dist/
/build/
/nbproject/private/
/jscl/build/
/jscl/nbproject/private/
/editor/build/
/editor/nbproject/private/
/webdav/build/
/webdav/nbproject/private/
/textpane/build/
/textpane/nbproject/private/
/mathml/build/
/mathml/nbproject/private/
/txt2xhtml/dist/
/txt2xhtml/build/
/txt2xhtml/nbproject/private/
/world/dist/
/world/build/
/world/nbproject/private/
/matheclipse/
/beanshell/
/jython/
/jruby/
/scala/build/
/scala/nbproject/private/
/scala/release/
/sympy/
/jscl/
/jas/
/scas/build/
/scas/nbproject/private/
/scas/release/
/jlinalg/
/viewer/
/twitter/
