/dist/
/build/
/nbproject/private/
/jscl/build/
/jscl/nbproject/private/
/editor/build/
/editor/nbproject/private/
/webdav/build/
/webdav/nbproject/private/
/textpane/build/
/textpane/nbproject/private/
/mathml/build/
/mathml/nbproject/private/
/txt2xhtml/dist/
/txt2xhtml/build/
/txt2xhtml/nbproject/private/
/world/dist/
/world/build/
/world/nbproject/private/
/matheclipse/
/beanshell/
/jython/
/jruby/
/scala/
/sympy/
/jscl/
/jas/