<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>meditorworld</display-name>
    <servlet>
        <servlet-name>Processor</servlet-name>
        <servlet-class>jscl.html.Processor</servlet-class>
        <init-param>
            <param-name>target</param-name>
            <param-value>http://meditor.kenai.com/docs</param-value>
        </init-param>
        <init-param>
            <param-name>source</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Processor</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.txt</welcome-file>
    </welcome-file-list>
</web-app>
